{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Welcome {{ name }}!
</h1>
<h2 class="subtitle">
Here's everything you've ever posted...
</h2>

<div class="tile is-ancestor columns is-multiline">
    {% for post in posts %}
    <div class="tile is-parent is-4">
        <article class="tile is-child notification is-info-light">
            <p class="has-text-grey-light">{{ 'Posted at ' + post.posted }}</p>
            <p class="title">{{ post.title }}</p>
            <div class="content">
                {{ post.content }}
            </div>
        </article>
    </div>
    {% endfor %}
</div>
{% endblock %}